server {
    listen       80;
    listen  [::]:80;
    server_name  bamzy.info www.bamzy.info;
    return 301 https://$server_name$request_uri;
}

server {
        listen  443 ssl;
        server_name bamzy.info;
        ssl_certificate /etc/nginx/ssl/ssl-bundle.crt;
        ssl_certificate_key /etc/nginx/ssl/bamzy.info_key.txt;
        location / {
           root   /usr/share/nginx/html;
           index  index.html index.htm;
        }
        location /iran {
                root /usr/share/nginx/reactive/build;
                index index.html;
                try_files $uri $uri/ /iran/index.html;
        }

        location /dashboard {
               root   /usr/share/nginx/reactive;
              index  index.html index.htm;
        }
        location /api/chart {
               proxy_pass http://chart-api-app:8081/$arg_name;

        }
        location /api/codestats {
               proxy_pass http://codestats-api-app:5001/codestats;
        }
}

